nav{
    padding: 12px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-icon{
    
    padding-left: 5px;
    background-image: url(https://picsum.photos/140);
    height: 25px;
    width: 50px;
    background-size: cover;
}

.header-wrapper{
    display: flex;
}

.nav-container{
    display: flex;
    border: 2px solid black;
    border-radius: 1px;
    
}

.nav-item{
    padding: 8px;
    border: 2px solid black;
    background-color: #fff294;
}

.the-title{
    text-align: center;
}

.main-content{
display: flex;
}

.main-content-item{
    
    width: 100%;
    height: 250px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.main-content-banner{
    
    height: 150px;
    width: 100%;
    
}

.main-banner-container{
    height: 150px;
    width: 100%;
}

.banner-1{
    background-image: url(../assest/1.jpg);
}

.banner-2{
    background-image: url(../assest/2.jpg);
}

.banner-3{
    background-image: url(../assest/3.png);
}

.main-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-icon{
    width: 25px;
    height: 25px;
    
    border-radius: 50%;
    background-image: url(https://picsum.photos/20);
}

.item-text{
    padding-left: 5px;
}

input{
        width: 75%;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        padding: 14px 20px;
        margin: 8px 0;
        
        border-radius: 4px;
        cursor: pointer;
        font-family: monospace;
        margin-left: 24px;
        margin-right: 24px;
      }

button{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    
    margin-left: 24px;
    margin-right: 24px;
    background-color: darkkhaki;
    height: 25px;
    border-radius: 10px;
    padding: 5px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 5px solid black;
    border-radius: 2mm;
    background-color: #E3CAAF;
}

.title-name{
    text-align: center;
    align-items: center;
    margin: 5px;
}

@media only screen and (max-width: 480px){
    .main-content{
        flex-direction: column;
    }
}