.tubuh{
    font-weight : bold;
    text-align: center;
}
h1{
    margin: 100px;
    border: 100px;
    border-radius: 50px;
}
table, th, td{
    border:10px solid black;
}
.arya{
    color:brown;
}
#centra{
    text-align:center;
    background-color: aqua;
    text-indent:2rem;
    display: grid;
}
.container{
    display: flex;
    justify-content: flex-end;
    border: 5px, solid, lightblue;
}
.container > div{
    padding: 10px;
    text-align: center;
    font-size: 14sp;
    border: 2px, solid;
    background-color: green;
    color:aqua;
}